body {
    background-color: black;
    font-family: "Roboto Flex", sans-serif;
}


.header {
    display: flex;
    margin: 0;
    padding: 10px 80px;
    background-color: #f0f0f0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    gap: 80px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fc9696;
}